$font-family-primary: Montserrat, sans-serif;
$font-family-secondary: Ubuntu, sans-serif;
$base-font-size: 24px;

$heading-1-font-family: Montserrat, sans-serif;

$primary-1: #131F1F;
$primary-2: #EEEEED;

$secondary-1: #EF8C21;
$secondary-2: #213A2B;

$success: #417354;
$error: #CA3C1C;

$grey-1: #6F6F6F;
$grey-2: #8F8F8F;
$grey-3: #B5B5B5;

$heading-primary: $primary-1;
$heading-secondary: $secondary-2;
